.button_type_like {
    border: none;
    width: 25px;
    height: 19px;
    background-image: url(../../../images/like-button-icon.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.button_type_like:hover {
    opacity: .5;
}