.header__line {
    padding-top: 32px;
    width: 100%;
    border-bottom: 1px solid #545454;
    opacity: .7;
}

@media screen and (min-width: 1280px) {
    .header__line {
        padding-top: 41px;
    }
}