.button_like {
    background-color: white;
    border: none;
    width: 22px;
    background-image: url(../../../images/like-button-icon.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 50%;
}